p, img{
    font-weight: 700;
}

.entrega{
    display: flex;
    color: #656363;
    flex-direction: column;
    line-height: 0;
}

.entrega__red {
    color: #D80000;
    font-weight: 400;
    font-size: 12px;
}
.entrega__grey{
    color: #656363;
    font-weight: 700;
    font-size: 12px;
}


.select__entrega{
    align-items: center;
    border-radius: 4px;
    display: flex;
    background-color: white;
    height: 3rem;
    justify-content: space-around;
    margin-left: 10rem;
    width: 14rem;
}

.seta{
    height: 12px;
    margin-left: 6.5rem;
    width: 12px;
}

@media (max-width: 375px){
    .entrega{
        display: none;
    }

    .select__entrega{
        display: none;
    }
}

@media (max-width: 900px){
    .select__entrega{
        display: none;
    }
}