p, img{

    font-weight: 700;
}

.entrega{
    display: flex;
    flex-direction: column;
    line-height: 0;
    color: #656363;
}

.entrega__red {
    color: #D80000;
    font-weight: 400;
    font-size: 12px;
}
.entrega__grey{
    color: #656363;
    font-weight: 700;
    font-size: 12px;
}


.select__entrega{
    display: flex;
    width: 14rem;
    height: 3rem;
    background-color: white;
    border-radius: 4px;
    align-items: center;
    justify-content: space-around;
    margin-left: 10rem;
}

.seta{
    margin-left: 6.5rem;
    width: 12px;
    height: 12px;
}