.food{
    display: flex;
    height: 41rem;
    flex-direction: column;
    font-family: 'roboto';
    margin-top: 1rem;
    width: 37rem;
}

.food p {
    color: #4E4E4E;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
}

.titulo{
    color: #4E4E4E;
    font-weight: 500;
    font-size: 28px;
   
}

.food img {
    height: 24rem;
    width: 37rem;
}

.valores{
    display: flex;
}

.valor__desconto{
    color: #DC6E05;
    font-weight: 400;
    font-size: 32px;
}

.valor{
    color: #4E4E4E;
    font-weight: 400;
    font-size: 32px;
    margin-left: 1rem;
    text-decoration: line-through
}

@media (max-width: 375px){
    .food{
        height: 32rem;
        display: flex;
        flex-direction: column;
        font-family: 'roboto';
        margin-top: 1rem;
        width: 16rem;
    }

    .food img {
        height: 15rem;
        width: 15rem;
    }
}

