.food{
    width: 37rem;
    height: 41rem;
    display: flex;
    flex-direction: column;
    font-family: 'roboto';
}

.food p {
    font-weight: 400;
    font-size: 20px;
    color: #4E4E4E;
    margin: 0;
}

.titulo{
    font-weight: 500;
    font-size: 28px;
    color: #4E4E4E;
   
}

.food img {
    width: 37rem;
    height: 24rem;
}

.valores{
    display: flex;
}

.valor__desconto{
    font-weight: 400;
    font-size: 32px;
    color: #DC6E05;
}

.valor{
    font-weight: 400;
    font-size: 32px;
    color: #4E4E4E;
    margin-left: 1rem;
    text-decoration: line-through
}