p{
    color:#ED3237
}

.header{
    align-items: center;
    background-color: #F4F4F4;
    display: flex;
    font-family: 'roboto';
    height: 12vh;
    justify-content: space-evenly;
}

.header a {
    text-decoration: none;
}

.logo1{
    height: 3rem;
    margin-right: 0;
    width: 5.1rem;
}

.logo2{
    height: 2.6rem;
    margin-left: 0;
    width: 9.3rem;
}

input{
    background-color: white;
    border-radius: 4px;
    display: flex;
    height: 3rem;
    margin-left: 8rem;
    padding-left: 1rem;
    margin-left: 0;
    width: 22rem;
}

input:focus{
    border-color: #ED3237;
}

input:active, input:focus{
    border-color: red;
}

.user{
    align-items: center;
    display: flex;
}

.user p{
    margin: 0;
}

.carrinho{
    align-items: center;
    display: flex;
}

.carrinho p{
    margin: 0;
}

@media (max-width: 375px){

    .header{
        height: 15vh;
    }
    input{
        display: none;
    }

    .user{
        display: none;
    }

    .carrinho{
        display: none;
    }
}

@media (max-width: 999px){
    input{
        display: none;
    }
}