.App{
  align-items: center;
  display: flex;
  justify-content: space-around;
  height: 88vh;
  width: 100vw;
}

@media (max-width: 375px){
  .App{
    display: flex;
    flex-direction: column;
    height: 166vh;
  }
}

@media (max-width: 999px){
  .App{
    display: flex;
    flex-direction: column;
    height: 190vh;
  }
}